@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #181818;
    overflow-x: hidden;  
}

.navbar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.navbar .logo {
    width: 100px;
    height: 50px;
    grid-column: 1/3;
    margin-top: 30px;
    margin-left: 100px;
}

.navbar .logomobile {
    display: none;
}

.navbar .menu {
    grid-column: 5/8;
    display: flex;
    justify-content: space-around;
}

.navbar .menu li {
    list-style: none;
    margin-top: 30px;
}

.navbar .menu li:hover {
    transform: scale(1.1);
}

.navbar .menu a {
    text-decoration: none;
    color: #181818;
    cursor: pointer;
}

.navbar .menu a:hover {
    color: #a460f9;
}

.navbar .menu-bar {
    display: none;
}


/* SECTION MAIN */

.hero {
    margin: 0 100px;
    width: 75vw;
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

h1 {
    font-size: 3em;
    width: 35vw;    
}

span {
    color: #a460f9;
    font-weight: bold;
}

.h2-hero {
    font-size: 2em;
    font-weight: 400;
    margin: 0px 0px;
    
}

.hero .p-hero {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 300;
}

.imagen-hero {
    width: 800px;
    height: 600px;
    margin-left: 100px;
    margin-top: 30px;
}

.hero .btn {
    font-size: 1em;
    border: 2px solid #a460f9;
    background-color:#fff; 
    color:#181818;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 20px;
}


.hero .btn:hover {
    background-color: #a460f9;
    color: #fff;
    cursor: pointer;
}

.caja {
    width: 100%;
    height: 400px;
    background: #242424;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.caja h2 {
    color: white;
    font-size: 3em;
    padding-top: 20px;
    padding-left: 80px;
    justify-content: space-between;
    margin-left: 20px;
}

.caja p {
    color: white;
    font-weight: 200;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 1.1em;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 20px;
    
}

/* PROYECTOS HOME */

.titulo-proyectos {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
}

.divider {
    width: 50px;
    height: 5px;
    background-color: #a460f9;
    margin: 0 auto;
}

.caja-proyectos {
    width: 100%;
    height: 400px;
    margin-top: 30px;

}

.caja-proyectos h3 {
    font-size: 48px;
    padding-left: 200px;
    padding-top: 100px;   
}

.caja-proyectos p {
    padding-left: 200px;
    font-size: 1.2em;
}

.caja-proyectos img {
    height: 500px;
    justify-content: right;
    padding-bottom: 50px;
}

.contenedor-proyecto1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    overflow: hidden;
}

.contenedor-proyecto2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
    overflow: hidden;
}

.caja-proyectos2 h3 {
    font-size: 48px;
    padding-left: 200px;
    padding-top: 100px; 
}

.caja-proyectos2 p {
    padding-left: 200px;
    font-size: 1.2em;
    
}

.caja-proyectos2 img {
    height: 500px;
    justify-content: right;
    padding-bottom: 50px;
    overflow: hidden;
}

.caja-proyectos2:hover img {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}

.caja-proyectos:hover img {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}

.btn-proyectos {
    font-size: 1em;
    border: 2px solid #a460f9;
    background-color:#fff; 
    color:#181818;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 200px;
}


.btn-proyectos:hover {
    background-color: #a460f9;
    color: #fff;
    cursor: pointer;
}

.contenedor-contacto {
    display: flex;
}

.caja-contacto {
    display: inline-block;
    
}

.caja-contacto h2 {
    font-size: 48px;
    padding-left: 200px;
    padding-top: 50px;
}

.caja-contacto p {
    padding-left: 200px;
    margin-top: 20px;
}

.caja-contacto img {
    height: 500px;
}

.caja-contacto button {
    margin-top: 20px;
    margin-left: 200px;
    font-size: 1em;
    border: 2px solid #a460f9;
    background-color:#fff; 
    color:#181818;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 200px;
}

.caja-contacto button:hover {
    background-color: #a460f9;
    color: #fff;
    cursor: pointer;
}

footer {
    background: #242424;
    height: auto;
    width: 100vw;
    padding-top: 50px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


.socials {
    display: flex;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    height: auto;
}

.socials li {
    display: flex;
    list-style: none;
    margin: 0 40px;    
}

.footer-bottom p {
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 300;
    padding-bottom: 15px;
}

.cabecera-portafolio {
    width: 800px;
    margin-left: 80px;
}

.hero-portafolio {
    display: grid;
    grid-template-columns: 500px 800px;
    margin: 0 100px;
    width: 75vw;
    min-height: 30vh;
    align-items: center;
}

.info-content-portafolio h1 {
    margin-top: 120px;
    font-size: 4em;
}

.cabecera-portafolio {
    position: absolute;
    margin-left: 570px;
    margin-top: -100px;
    width: 1000px;
    z-index: 1;
}

.divider2 {
    width: 1900px;
    height: 180px;
    background-color:#242424;
    margin-top: 100px;
}

.proyectos-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 80px;
}

.proyecto-info {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.proyecto-info h2 {
    font-size: 2em;
}

.proyecto-info h3 {
    font-size: 1em;
    font-weight: 400;
    margin-top: 10px;
}

.proyecto-info p {
    margin-right: 150px;
    margin-top: 15px;
}

.p-hero-portafolio {
    font-size: 1.1em;
}

.proyecto-imagen {
    height: 600px;
    background-image: url(./Img/proyecto-ux.jpg);
    background-size: cover;
    background-position: center;
}

.btn-portafolio {
    margin-top: 20px;
    margin-right: 50px;
    font-size: 1em;
    border: 2px solid #a460f9;
    background-color:#fff; 
    color:#181818;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
}

.btn-portafolio:hover {
    background-color: #a460f9;
    color: #fff;
    cursor: pointer;
}

.proyecto-imagen2 {
    height: 600px;
    background-image: url(./Img/proyecto-afip.jpg);
    background-size: cover;
    background-position: center;
}

.proyectos-content2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.proyectos-content3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.proyecto-imagen3 {
    height: 600px;
    background-image: url(./Img/anitadice-mockup.jpg);
    background-size: cover;
    background-position: center;
}

.proyectos-content4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.proyecto-imagen4 {
    height: 600px;
    background-image: url(./Img/JABIMCO-MOCKUP.jpg);
    background-size: cover;
    background-position: center;
}

.cabecera-conoceme {
    position: absolute;
    margin-left: 770px;
    margin-top: -100px;
    width: 700px;
    z-index: 1;
}

.skills {
    position: relative;
    font-size: 10em;
    color: #242424;
    letter-spacing: 40px;
    z-index: 2;
    margin-top: 30px;
}

/* MEDIAQUERIES */

@media only screen and (max-width: 600px) {

    .navbar {
        position: relative;
        background-color: #a460f9;
    }
    .navbar .menu-bar {
        display: block;
        font-size: 2em;
        grid-column: 8/9;
        cursor: pointer;
        color: #fff;
    }

    .navbar .menu {
        position: absolute;
        width: 100%;
        height: 70vh;
        display: grid;
        align-items: center;
        background-color: #a460f9;
        margin-top: 560px;
        transform: translateX(150%);
        transition: all 1s;
    }

    .navbar .menu a {
        color: #fff;
    }

    .navbar .menu a:hover {
        color: #fff
    }

    .navbar .logo {
        display: none;
    }

    .navbar .logomobile {
        display: block;
        width: 100px;
        height: 100px;
        grid-column: 1/3;
        margin-left: 30px;
    }

    .navbar .menu-toggle {
        transform: translateX(40%);

    }

    .hero {
        margin-left: 40px;
        grid-template-columns: 300px 100px;
    }
    
    .hero h1 {
        font-size: 1.8em;
        margin-top: 20px;
    }
    
    .hero .h2-hero {
        font-size: 1.2em;
    }
    
    .hero .p-hero {
        font-size: 0.9em;
    }
    
    .imagen-hero {
        width: 400px;
        height: 350px;
        margin: 0;
        margin-top: 35px;
    }
    
    .hero .btn {
        font-size: 0.8em;
        padding: 5px 20px;
        border-radius: 30px;
        margin-top: 15px;
    }
    
    .caja {
        text-align: left;
        grid-column: span 3;
        grid-row: span 3;
        margin: 0;
    }

    .caja h2 {
        font-size: 3em;
        padding-top: 30px;
    }

    .caja p {
        font-size: 1.2em;
        font-weight: 200;
    }
    
    .contenedor-proyecto1 {
        grid-template-columns: auto;
    }

    .contenedor-proyecto2 {
        grid-template-columns: auto;
    }

    .caja-proyectos h3 {
        padding-left: 100px;
        font-size: 2.2em;
        padding-top: 80px;
    }

    .caja-proyectos p {
        padding-left: 100px;
        font-size: 1.2em;
    }

    .btn-proyectos {
        padding: 10px 30px;
        margin-left: 100px;
    }

    .caja-proyectos img {
        height: 380px;
        justify-content: center;
        padding: 0;
        margin-top: -100px;
        padding-bottom: 0;
    }

    .titulo-proyectos {
        font-size: 1.8em;
    }

    .caja-proyectos2 h3 {
        padding-left: 100px;
        font-size: 2.2em;
        padding-top: 0;
    }

    .caja-proyectos2 p {
        padding-left: 100px;
        font-size: 1.2em;
    }

    .btn-proyectos2 {
        padding: 10px 30px;
        margin-left: 100px;
    }

    .caja-proyectos2 img {
        height: 480px;
        justify-content: center;
        padding-top: 60px;
    }

    .contenedor-contacto {
        display: grid;
        grid-template-columns: auto;
    }
    
    .caja-contacto h2 {
        font-size: 2em;
        padding-left: 100px;
        padding-top: 10px;
    }
    
    .caja-contacto p {
        padding-left: 100px;
        margin-top: 20px;
    }
    
    .caja-contacto img {
        display: none;
    }
    
    .caja-contacto button {
        margin-top: 20px;
        margin-left: 100px;
        margin-bottom: 80px;
    }

    .hero-portafolio {
        margin-left: 40px;
        grid-template-columns: 300px 300px;
    }

    .cabecera-portafolio {
        width: 600px;
        margin-left: 100px;
        margin-top: 100px;
        z-index: 4;
    }

    .info-content-portafolio h1 {
        margin-top: 80px;
    }
    .info-content-portafolio p {
        width: 400px;
    }
    
    .proyectos-content {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        margin-top: 80px;
    }
    
    .proyecto-info {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
    }
    
    .proyecto-imagen {
        height: 300px;
    }

    .proyectos-content2 {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        margin-top: 80px;
    }
        
    .proyecto-imagen2 {
        height: 300px;
        margin-top: 30px;
    }

    .proyectos-content3 {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        margin-top: 80px;
    }
    
    
    .proyecto-imagen3 {
        height: 350px;
        margin-top: 30px;
    }

    .proyectos-content4 {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        margin-top: 80px;
    }
    
    
    .proyecto-imagen4 {
        height: 350px;
        margin-top: 30px;
        margin-bottom: 80px;
    }
}




/* FIN MEDIAQUERIES */


